{% extends 'base.html.twig' %}

{% block title %}
	<title>About</title>
{% endblock %}

{% block body %}
	<section id="about" class="section">
		<h2>About Us</h2>
		<p>We are passionate about creating beautiful and functional designs for our users.</p>
	</section>
{% endblock %}
