{% extends 'base.html.twig' %}

{% block title %}
	<title>Homepage</title>
{% endblock %}

{% block body %}
	<section id="home" class="section">
		<h1>THANK YOU FOR COMING</h1>
		<p>This is the home section. A perfect place for an introduction.</p>
	</section>
{% endblock %}
